Flowmingo AI Cold Email Automation (1).json
{
  "name": "Flowmingo AI Cold Email Automation",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F5saK4FGAcd3leBnHnxAmREzFmYqNHrajNM4Bwb-KZI",
          "mode": "list",
          "cachedResultName": "Flowmingo Lead Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5saK4FGAcd3leBnHnxAmREzFmYqNHrajNM4Bwb-KZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5saK4FGAcd3leBnHnxAmREzFmYqNHrajNM4Bwb-KZI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        -896
      ],
      "id": "82874ee8-bcc9-46da-aa54-45003fc01a47",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dn1mjrHt9smIVAkc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea6015e8-b1fc-4980-ba68-cd06adaa8d9b",
              "leftValue": "={{ $json['Send Status'] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        -896
      ],
      "id": "2652b803-0005-4de7-bcd5-9c3b2fe51aa6",
      "name": "If"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -272,
        -896
      ],
      "id": "ef302815-2af9-4d91-a0bc-39398b624555",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1F5saK4FGAcd3leBnHnxAmREzFmYqNHrajNM4Bwb-KZI",
          "mode": "list",
          "cachedResultName": "Flowmingo Lead Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5saK4FGAcd3leBnHnxAmREzFmYqNHrajNM4Bwb-KZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1094313217,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5saK4FGAcd3leBnHnxAmREzFmYqNHrajNM4Bwb-KZI/edit#gid=1094313217"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -896
      ],
      "id": "4024c4f3-2999-4f86-97b4-6f51fb82eb1c",
      "name": "Get row(s) in sheet1",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dn1mjrHt9smIVAkc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -896
      ],
      "id": "032c5b3f-0ca5-4c39-9ece-65930ad16316",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        112,
        -672
      ],
      "id": "4faadf36-ffee-4b02-afa6-d7fb231233b5",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c7fd9aa0-163e-4f46-adf1-15f5c7f8f2db",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "d13fed33-cbfa-431a-9407-e32396e32c52",
              "name": "Email ",
              "value": "={{ $json['Email '] }}",
              "type": "string"
            },
            {
              "id": "5e027c9b-10ca-440b-aa3f-18111fe4b60d",
              "name": "Send Status",
              "value": "={{ $json['Send Status'] }}",
              "type": "string"
            },
            {
              "id": "def42c8d-eea8-4cc0-8492-70c8dbe18e7b",
              "name": "Time",
              "value": "={{ $json.Time }}",
              "type": "string"
            },
            {
              "id": "50ad0d18-e39a-4fdd-9e47-838259bf6ccc",
              "name": "Company",
              "value": "={{ $json.Company }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -656
      ],
      "id": "3d6a74e6-3b8a-4e5d-b7de-83b1f8df665d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b38cbc34-a4a5-454b-b1d3-fe90f47d09db",
              "name": "subject",
              "value": "={{ $json.subject\n  .replace('[First Name]', $json.Name ? $json.Name.split(' ')[0] : 'there')\n  .replace('[Company]', $json.Company ? $json.Company.toLowerCase().replace(/\\b\\w/g, l => l.toUpperCase()) : 'your team') \n}}",
              "type": "string"
            },
            {
              "id": "36e5dd17-0a04-4e71-a96f-0b9711027327",
              "name": "body",
              "value": "={{ $json.body\n  .replace('[First Name]', $json.Name.split(' ')[0])\n  .replace('[Your Name]', 'Kenneth Soriano')\n  .replace('[Title]', 'Sales Partner')\n  .replace('[Company]', $json.Company || 'your team') \n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -672
      ],
      "id": "3dc6cc23-f75b-4382-9361-070a8a6506e9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email \"] }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Kenneth"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        528,
        -672
      ],
      "id": "2d387a95-fcac-49db-9a3e-0611b5ce6998",
      "name": "Send a message",
      "webhookId": "b1fe0593-1228-48fd-b908-28a0cf1d833f",
      "credentials": {
        "gmailOAuth2": {
          "id": "9lBbVnKDI7DrCyYj",
          "name": "Main Gmail"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        -416
      ],
      "id": "3b2cea97-c5fb-4c2a-85ea-5b17801d96b0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1F5saK4FGAcd3leBnHnxAmREzFmYqNHrajNM4Bwb-KZI",
          "mode": "list",
          "cachedResultName": "Flowmingo Lead Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5saK4FGAcd3leBnHnxAmREzFmYqNHrajNM4Bwb-KZI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F5saK4FGAcd3leBnHnxAmREzFmYqNHrajNM4Bwb-KZI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email ": "={{ $json[\"Email \"] }}",
            "Send Status": "={{ $json.labelIds[0] }}",
            "Time": "={{ new Date().toLocaleTimeString(\"en-US\", { timeZone: \"Asia/Kuala_Lumpur\", hour12: true }) }}"
          },
          "matchingColumns": [
            "Email "
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Status",
              "displayName": "Send Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Column 5",
              "displayName": "Column 5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Column 6",
              "displayName": "Column 6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        -416
      ],
      "id": "64d4a06c-dd70-4d7b-8029-86b4304fb9ad",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Dn1mjrHt9smIVAkc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        -672
      ],
      "id": "94062a20-631f-41ad-b243-683cb9a2eb54",
      "name": "Wait",
      "webhookId": "cd37ca27-c8b1-41e5-913a-2b265e832e50"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -944,
        -896
      ],
      "id": "259c462d-ebc0-46f2-abc0-f3f4aed8d11a",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b0cc3a62-98b5-42d6-b3e0-c2c20de53154",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e1d6661c4c10bc7e723636b58e4de20efce8fb708aac9bab6bdd91dcae8f07d"
  },
  "id": "LsB5QKY1GYtALrYx",
  "tags": []
}